<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fql.mapper.UserMapper">
    <!--查询全部，模糊条件查询-->
    <select id="findAll"  resultType="userModel" parameterType="userModel">
        select * from t_user
        <where>
            <if test="userName != null and userName!='' ">
                and user_name like concat('%', #{userName}, '%')
            </if>

            <if test="phone!=null and phone >1">
                and phone  like concat('%', #{phone}, '%')
            </if>

            <if test="email!=null and email != ''">
                and email like concat('%', #{email}, '%')
            </if>

            <if test="hobby!=null and hobby != ''">
                and hobby LIKE CONCAT('%',#{hobby}, '%')
            </if>
            <if test="createTime!=null">
                and DATEDIFF(create_time,#{createTime})=1
            </if>
            <if test="enable !=null and enable != -1">
                and enable = #{enable}
            </if>
        </where>
    </select>

</mapper>